// <======== Importing App SCSS File ========>
@import "../../App.scss";


// Animations Section
@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}


// Navbar Section
#navbar {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .left-navbar {
    display: flex;
    align-items: center;
}

#navbar .left-navbar-icon {
    margin-right: 40px;
}

#navbar .left-navbar-navigations ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar .left-navbar-navigations ul a {
    color: var(--color-white);
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
}

#navbar .left-navbar-navigations ul a:hover {
    color: var(--color-gray);
}

#navbar .right-navbar a {
    color: var(--color-white);
    margin: 0px 20px;
    font-size: 18px;
    text-decoration: none;
}

#navbar .right-navbar a:hover {
    color: var(--color-gray);
}

#navbar .right-navbar .btn {
    color: var(--color-white);
    background-color: var(--color-orange);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#navbar .right-navbar .btn:hover {
    filter: brightness(0.8);
}


// Navbar-Menu Section
#navbar-menu {
    display: none;
    margin-left: 10px;
    position: relative;
}

#navbar-menu svg {
    cursor: pointer;
}

#navbar-menu .navbar-menu-container {
    min-width: 210px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    background: var(--color-footer);
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    position: absolute;
    top: 40px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#navbar-menu .navbar-menu-container .navbar-menu-container-links ul li {
    margin: 10px 0px;
    list-style: none;
}

#navbar-menu .navbar-menu-container .navbar-menu-container-links ul li a {
    color: var(--color-white);
    padding: 5px 0px;
    font-size: 18px;
    text-decoration: none;
}

#navbar-menu .navbar-menu-container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    gap: 10px;
    margin-top: 20px;
}

#navbar-menu .navbar-menu-container-btn a {
    color: var(--color-white);
    font-size: 18px;
    text-decoration: none;
}

#navbar-menu .navbar-menu-container-btn .btn {
    color: var(--color-white);
    background-color: var(--color-orange);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


// CSS Properties For Maximum Width 1000px
@media (max-width: 1000px) {
    #navbar .left-navbar .left-navbar-navigations {
        display: none;
    }

    #navbar .right-navbar {
        display: none;
    }

    #navbar-menu {
        display: flex;
    }
}


// CSS Properties For Maximum Width 400px
@media (max-width: 400px) {
    #navbar {
        padding: 20px 10px;
    }
}