// <======== Importing App SCSS File ========>
@import '../../App.scss';


// Footer Section
#footer {
    padding: 40px;
    background-color: var(--color-footer);
}

#footer .footer-navigations {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

#footer .footer-navigations .footer-navigation-box {
    width: 22%;
    color: var(--color-white);
}

#footer .footer-navigations .footer-navigation-box p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
}

#footer .footer-navigations .footer-navigation-box h3 {
    padding-bottom: 10px;
}

#footer .footer-navigations .footer-navigation-box a {
    display: block;
    max-width: max-content;
    margin: 10px 0px;
    color: var(--color-white);
    text-decoration: none;
}

#footer .footer-navigations .footer-navigation-box a:hover {
    color: lightgray;
}

#footer .footer-navigations .footer-box-contact {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer .footer-navigations .footer-box-contact .icon {
    margin-right: 10px;
    font-size: 20px;
}

#footer .footer-navigations .footer-box-contact p {
    margin-top: 0px;
}

#footer .footer-info {
    color: var(--color-white);
    text-align: center;
}

#footer .footer-info p {
    font-size: 14px;
    margin-top: 10px;
}


// CSS Properties For Minimum Width 1500px
@media (min-width: 1500px) {
    #footer .footer-navigations .footer-navigation-box p {
        font-size: 20px;
        line-height: 25px;
    }

    #footer .footer-navigations .footer-navigation-box h3 {
        font-size: 25px;
    }

    #footer .footer-navigations .footer-navigation-box a {
        font-size: 21px;
    }

    #footer .footer-info p {
        font-size: 20px;
    }
}


// CSS Properties For Maximum Width 800px
@media (max-width: 800px) {
    #footer .footer-navigations .footer-navigation-box {
        width: 27%;
        margin-top: 20px;
    }
}


// CSS Properties For Maximum Width 600px
@media (max-width: 600px) {
    #footer .footer-navigations .footer-navigation-box {
        width: 40%;
    }
}


// CSS Properties For Maximum Width 500px
@media (max-width: 500px) {
    #footer {
        padding: 20px;
    }

    #footer .footer-navigations .footer-navigation-box {
        width: 100%;
        margin-top: 40px;
    }
}